<section class="block-tech">
  <h2>{{ title }}</h2>
  
  <ul>
    {{ for item of items }}
    <li>
      {{ if item.icon }}
        <img src="{{ item.icon |> icon('tabler', 'outline') }}" inline>
      {{ /if }}
      {{ item.label }}
    </li>
    {{ /for }}
  </ul>
</section>
